{% load core_tags set_var cache compress static wagtailuserbar wagtailcore_tags %}
{% get_site_root as site_root %}

<div class="container">
    <div class="social text-center">
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
    </div>
    <div class="clear"></div>
    <!--CLEAR FLOATS-->
</div>

<div class="footer2">
    <div class=" container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel-body">
                    <p class="simplenav">
                        <a href="{% pageurl site_root %}" tile="{{ site_root.title }}"><i class="glyphicon glyphicon-home"></i></a>
                        {% set n = 0 %}
                        {% for menuitem in menuitems %}
                            {% if n > -1 and menuitem.title %} | {% endif %}
                            {% if menuitem.show_dropdown %}
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    {{ menuitem.title }}
                                    <b class="caret"></b>
                                </a>
                                {% top_menu_children parent=menuitem %}
                            {% else %}
                                <a href="{% pageurl menuitem %}">
                                    {{ menuitem.title }}</a>
                            {% endif %}
                            {% set n = 1 + n %}
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-body">
                    <p class="text-right">
                        <a href="http://mobb.io" target="_blank">mobb.io</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- /row of panels -->
    </div>
</div>





